{% extends "layout.twig" %}
{% block content %}

    <div class="ui inverted masthead segment">
        <div class="ui page grid">
            <div class="column">
                <div class="ui inverted blue menu">
                    <div class="header item">Silexmantic</div>
                    <div class="right menu">
                        <div class="ui dropdown link item">
                            Documentation
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="https://github.com/arcostasi/silexmantic-skeleton.git" target="_blank" class="item">Install</a>
                                <a href="https://github.com/arcostasi/silexmantic-skeleton.git" target="_blank" class="item">Bootstrap</a>
                                <a href="https://github.com/arcostasi/silexmantic-skeleton.git" target="_blank" class="item">Recently Changed</a>
                            </div>
                        </div>
                        <a class="item">Administrator</a>
                        <a class="item">Community</a>
                    </div>
                </div>
                <img src="assets/img/silex.png" class="ui medium image silex">
                <div class="ui hidden transition information">
                    <h1 class="ui inverted header">
                        A micro-MVC skeleton on the arms of Silex and Semantic-UI
                    </h1>
                    <p>If user interface is the vocabulary of the web, silexmantic is the kickoff.</p>
                    <div class="large basic inverted animated fade ui button">
                        <div class="visible content">Download Now</div>
                        <div class="hidden content"><a href="https://github.com/arcostasi/silexmantic-skeleton.git" target="_blank">Silexmantic</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical feature segment">
        <div class="ui centered page grid">
            <div class="fourteen wide column">
                <div class="ui three column center aligned stackable divided grid">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="student icon"></i>
                            Learn
                        </div>
                        <p>No human being should be limited to their knowledge, so keep calm and carry on learning.</p>
                        <p>
                            <a class="ui right labeled icon button" href="#">
                                Learn
                                <i class="book chevron icon"></i>
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="code icon"></i>
                            Develop
                        </div>
                        <p>A great developer is a passionate by codes and your hobby is...</p>
                        <p>
                            <a class="ui right labeled icon button" href="#">
                                Develop
                                <i class="terminal chevron icon"></i>
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="child icon"></i>
                            Share
                        </div>
                        <p>Share what you do, to learn, writing a code and share with the community.</p>
                        <p>
                            <a class="ui right labeled icon button" href="#">
                                Share
                                <i class="share alternate chevron icon"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted footer vertical segment">
        <div class="ui stackable center aligned page grid">
            <div class="ten wide column">
                <div class="ui three column center aligned stackable grid">
                    <div class="column">
                        <h5 class="ui inverted header">Account</h5>
                        <div class="ui inverted link list">
                            <a class="item">Login</a>
                            <a class="item">Registration</a>
                            <a class="item">Support</a>
                        </div>
                    </div>
                    <div class="column">
                        <h5 class="ui inverted header">Documentation</h5>
                        <div class="ui inverted link list">
                            <a class="item">Install</a>
                            <a class="item">Bootstrap</a>
                            <a class="item">Recently Changed</a>
                        </div>
                    </div>
                    <div class="column">
                        <h5 class="ui inverted header">Community</h5>
                        <div class="ui inverted link list">
                            <a href="http://php.net/" class="item" target="_blank">PHP</a>
                            <a href="http://semantic-ui.com/" class="item" target="_blank">Semantic-UI</a>
                            <a href="http://silex.sensiolabs.org/" class="item" target="_blank">Silex</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h5 class="ui inverted header">Contact Me</h5>
                <addr>
                    Anderson Costa<br>
                    Maringa / PR, Brazil <br>
                </addr>
                <p>arcostasi@gmail.com</p>
            </div>
        </div>
    </div>

{% endblock %}