<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Silexmantic</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/semantic.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>